doctype html
html
  head
    meta(charset='utf-8')
    style.
      table {
      border-collapse: collapse;
      }
      th {
      border-bottom: black solid 1px;
      }
      tr {
      border-bottom: gray dotted 1px;
      }
      button {
      font-size: 1.2em;
      padding: .5em 1em;
      border-radius: .25em;
      border-style: none;
      background-color: #006cb7;
      color: #fff;
      }
      button:hover {
      background-color: #34cdd7;
      }
      button:active {
      background-color: #006cb7;
      }
      textarea {
      width: 100%;
      }
  form
    // <button type="submit">Save</button>
    div
      h2 General
      input#quote(type='checkbox')
      label(for='quote')
        | Prepend quote (
        code &gt;
        | ) to selection
      br
      input#link(type='checkbox')
      label(for='link') Include link to source web page in the beginning of copied text
      br
      input#mathjax(type='checkbox')
      label(for='mathjax')
        | Enable experimental MathJax support (
        a(href='https://github.com/0x6b/copy-selection-as-markdown/issues/new') report issue
        |  if you find
        |             anything strange, with
        strong debug
        |  enabled
      br
      input#linkWithoutStyling(type='checkbox')
      label(for='linkWithoutStyling')
        | Disable link styling (
        code like this (https://example.com)
        |  instead of
        code [like this](https://example.com)
        | )
      br
      input#debug(type='checkbox')
      label(for='debug') Log debug message in the console
    div
      h2 Markdown
      input#gfm(type='checkbox')
      label(for='gfm')
        | Enable
        a(href='https://github.github.com/gfm/') GitHub Flavored Markdown
        |  (strikethrough,
        |             tables, and taskListItems) support
      br
      input#img(type='checkbox')
      label(for='img')
        | Use
        code img
        |  tag for image
      br
      input#reduceListItemPadding(type='checkbox')
      label(for='reduceListItemPadding') Reduce padding spaces for list items
      br
      input#replaceAngleBrackets(type='checkbox')
      label(for='replaceAngleBrackets')
        | Replace angle brackets (
        code &lt;&gt;
        | ) with HTML entities
      br
      table
        tr
          th Option
          th(colspan='2') Preference
        tr
          td(rowspan='2') Heading style
          td
            input#setext(type='radio' name='headingStyle' value='setext')
          td
            label(for='setext')
              code
                | Heading 1
                br
                |                     =========
                br
                |                     Heading 2
                br
                |                     ---------
        tr
          td
            input#atx(type='radio' name='headingStyle' value='atx' checked='')
          td
            label(for='atx')
              code
                | # Heading 1
                br
                |                     ## Heading 2
        tr
          td(rowspan='3') Bullet list marker
          td
            input#marker-hyphen(type='radio' name='bulletListMarker' value='-' checked='')
          td
            label(for='marker-hyphen')
              code
                | - one
                br
                |                     - two
                br
                |                     - three
        tr
          td
            input#marker-plus(type='radio' name='bulletListMarker' value='+')
          td
            label(for='marker-plus')
              code
                | + one
                br
                |                     + two
                br
                |                     + three
        tr
          td
            input#marker-asterisk(type='radio' name='bulletListMarker' value='*')
          td
            label(for='marker-asterisk')
              code
                | * one
                br
                |                     * two
                br
                |                     * three
        tr
          td(rowspan='2') Code block style
          td
            input#indented(type='radio' name='codeBlockStyle' value='indented' checked='')
          td
            label(for='indented')
              code &nbsp;&nbsp;&nbsp;&nbsp;let code = &quot;indented&quot;;
        tr
          td
            input#fenced(type='radio' name='codeBlockStyle' value='fenced')
          td
            label(for='fenced')
              code
                | &grave;&grave;&grave;
                br
                |                     let code = &quot;fenced&quot;;
                br
                |                     &grave;&grave;&grave;
        tr
          td(rowspan='2') Fence
          td
            input#backtick(type='radio' name='fence' value='`' checked='')
          td
            label(for='backtick')
              code
                | &grave;&grave;&grave;
                br
                |                     let code = &quot;fenced&quot;;
                br
                |                     &grave;&grave;&grave;
        tr
          td
            input#tilde(type='radio' name='fence' value='~')
          td
            label(for='tilde')
              code
                | ~~~
                br
                |                     let code = &quot;fenced&quot;;
                br
                |                     ~~~
        tr
          td(rowspan='2') Em
          td
            input#em-underline(type='radio' name='emDelimiter' value='_' checked='')
          td
            label(for='em-underline')
              code
                | _
                em Em
                | _
        tr
          td
            input#em-asterisk(type='radio' name='emDelimiter' value='*')
          td
            label(for='em-asterisk')
              code
                | *
                em Em
                | *
        tr
          td(rowspan='2') Strong
          td
            input#strong-underline(type='radio' name='strongDelimiter' value='__')
          td
            label(for='strong-underline')
              code
                | __
                strong Strong
                | __
        tr
          td
            input#strong-asterisk(type='radio' name='strongDelimiter' value='**' checked='')
          td
            label(for='strong-asterisk')
              code
                | **
                strong Strong
                | **

    div
      h2 Advanced
      label(for='titleSubstitution')
        | Title Substitution -- line separated texts which will be removed from title text (supports
        a(href='https://regex101.com/') regular expressions
        |  if the line starts and ends with / e.g. #[code /^number:\d$/]
      textarea#titleSubstitution(rows='5')
      input#embedImage(type='checkbox')
      label(for='embedImage')
        | Embed
        code img
        | s (.gif, .jpg, .jpeg, .png, and .webp) as base64 text as possible -- images will be encoded as base64 text, instead of URL, and added at the end of copied text.
        strong
          | Ask for the permission to access all websites when clicking Save button, since sometimes referenced images are hosted other than current active tab so
          code activeTab
          |  permission is not sufficient.
        |  Unchecking this removes the additional permission.
    button(type='submit') Save
  script(src='../dist/options_ui.js')
