h4 Valid Table 1
table
  thead
    tr
      th Name
      th Age
      th Color
  tbody
    tr
      td Ib
      td 5
      td Brown
    tr
      td Garry
      td 16
      td Purple
    tr
      td Mary
      td 5
      td Yellow

hr

h4 Valid Table 2
table
  thead
    tr
      th(rowspan=2) Category
      th(colspan=3) Examples
    tr
      th 1
      th 2
      th 3
  tbody
    tr
      td Fruit
      td Apple
      td Banana
      td Citrus
    tr
      td Vegetable
      td Spinach
      td Broccoli
      td

hr

